apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-config
  namespace: talos-system
data:
  envoy.yaml: |
    static_resources:
      listeners:
      - name: listener_0
        address:
          socket_address:
            address: 0.0.0.0
            port_value: 8080
        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              stat_prefix: ingress_http
              access_log:
              - name: envoy.access_loggers.stdout
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StdoutAccessLog
              http_filters:
              - name: envoy.filters.http.router
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
              route_config:
                name: local_route
                virtual_hosts:
                - name: local_service
                  domains: ["*"]
                  routes:
                  - match:
                      prefix: "/"
                    route:
                      cluster: talos_gateway
                      timeout: 0s
                      retry_policy: { num_retries: 2, retry_on: "5xx,connect-failure" }
      clusters:
      - name: talos_gateway
        connect_timeout: 0.25s
        type: STRICT_DNS
        lb_policy: LEAST_REQUEST
        load_assignment:
          cluster_name: talos_gateway
          endpoints:
          - lb_endpoints: [{ endpoint: { address: { socket_address: { address: talos-gateway, port_value: 8000 } } } }]
    admin:
      address:
        socket_address:
          address: 127.0.0.1
          port_value: 10000
