name: Publish to PyPI

on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment:
            name: "pypi"
            url: https://pypi.org/p/talos-protocol
        permissions:
            id-token: write # IMPORTANT: mandatory for trusted publishing

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install build

            - name: Build package
              run: python -m build

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
